# ======================
# SCRAPING
# ======================
requests
beautifulsoup4
lxml
playwright

# ======================
# DATA PROCESSING
# ======================
pandas
numpy

# ======================
# MACHINE LEARNING
# ======================
scikit-learn
xgboost
lightgbm

# ======================
# ASSOCIATION RULES
# ======================
mlxtend

# ======================
# VISUALIZATION
# ======================
matplotlib
seaborn

# ======================
# OPTIONAL (utils)
# ======================
tqdm

# ======================
# Kubeflow SDK
# ======================
kfp

# ======================
# Kubeflow SDK
# ======================
streamlit

# ======================
# langchain et ollama
# ======================
langchain
langchain-ollama
ollama